body {
    font-family: sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #e9ecb6;
    color: #090101;
}

nav {
    background-color: #03591d;
    color: rgb(163, 163, 95);
    padding: 10px;
    font-size: large;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly; 
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.container {
    display: flex;
    padding: 20px;
    background-color: #fff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 15px;
}

.book-image {
    flex: 1; 
    text-align: center; 
    padding: 10px;
}

.book-image img {
    max-width: 100%; 
    height: auto;
    border: 1px solid #ddd; 
}

.book-details {
    flex: 2; 
    padding: 20px;
    background-color: rgb(238, 238, 59);
    border: 2px solid blanchedalmond;
    border-radius: 15px;
}

.book-details h1 {
    margin-top: 0; 
   

}

.book-details p {
    margin-bottom: 5px;
    text-decoration: underline;
}

.rating {
    margin-top: 10px;
    font-weight: bold;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.buttons button {
    background-color: #a2531f; 
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    margin-right: 10px;
    cursor: pointer;
    width: 300px;
    height:50px
    
}

.review-section {
    padding: 20px;
    margin: 20px;
    background-color: #947254d0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    border: 3px solid brown;
}

.review-section textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid  #f1c29a;
    margin-bottom: 10px;
    border-radius: 15px;
    resize: vertical; 
}
.radio-buttons {
    display: flex;
}

.radio-buttons label {
    margin-right: 10px;
}
#own{
    width: 95%; 
    margin-top:20px;
    height:50px; border:1px solid brown;
    border-radius:10px;
    padding-left:15px; 
    font-family: monospace; 
}